.right-align{
    float:right;
}
.left-margin-10{
    margin-left:10px;
}
.delete-dialog-button{
    display: flex;
    justify-content: center;
}

.delete-alert-message{
    margin:15px;
    text-align: center;
    margin-top:0px;
}