<div class="card-header contact-name" style="font-size: 20px;"><b>{{contact.firstName}} {{contact.lastName}}</b>
    <span class='right-align left-margin-10'>
        <button type="button" class="btn btn-outline-danger btn-sm" (click)='showDeleteMessage()'>
            <i class="fa fa-remove"></i>
        </button>
    </span>
    <span class='right-align'>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)='editContact(contact)'>
            <i class="fa fa-pencil"></i>
        </button>
    </span>
</div>
<div class="card-body">
    <div><b>{{content.EMAIL_TAG_TEXT}} </b> {{contact.email}}</div>
    <div><b>{{content.PHONE_TAG_TEXT}} </b>{{contact.phone}}</div>
</div>
<div *ngIf='displayDeleleSureMessage' class='alert alert-danger delete-alert-message'>
    {{content.DELETE_DIALOG_BODY}}
    <button type="button" class="btn btn-outline-danger left-margin-10"
        (click)='deleteContact(contact)'>{{content.DELETE_DIALOG_BUTTON_YES}}</button>
    <button type="button" class="btn btn-outline-dark left-margin-10"
        (click)='hideDeleteMessage()'>{{content.DELETE_DIALOG_BUTTON_NO}}</button>
</div>