<div *ngIf='contacts.length==0'>
    <p class="no-contacts-msg">{{content.NO_CONTACTS_AVAIALABLE_TEXT}}</p>
    <button type="button" class="btn btn-primary btn-block"
        (click)='addContact("new")'>{{content.BUTTON_NEW_CONTACT_TEXT}}</button>
</div>

<div *ngIf='contacts.length!=0'>
    <div class='row'>
        <div class='col-6'>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="{{content.SEARCH_PLACEHOLDER}}"
                    (input)="searchString = $event.target.value">
            </div>
        </div>
        <div class='col-6'>
            <button type="button" class="btn btn-primary btn-block"
                (click)='addContact("new")'>{{content.BUTTON_NEW_CONTACT_TEXT}}</button>
        </div>
    </div>

    <div class="card card-wrapper" *ngFor='let contact of contacts | search: searchString | sort; index as i'>
        <app-contact-detail [contact]='contact' (edit)='addContact($event.id)' (delete)='deleteContact($event)'>
        </app-contact-detail>
    </div>
</div>
