<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
  <a class="navbar-brand" href="/">{{content.APP_HEADING}}</a>
</nav>
<div class='container contact-content-wrapper'>
  <router-outlet></router-outlet>
</div>