.form-control:valid{
    background-image: none;
    border-color: black;
}

.error-text{
    color:red;
}

.add-component-wrapper{
    display: flex; 
    justify-content: center;
}

.contact-form-wrapper{
    width: 500px; 
    border: 1px solid;  
    border-radius:10px; 
    padding:20px;
}  

.contact-form-wrapper .heading{
    text-align: center;
}

.contact-form-wrapper .buttons{
    display: flex; 
    justify-content: center;
}

.contact-form-wrapper .cancel-button{
    margin-left: 10px;
}

.delete-dialog-button{
    display: flex;
    justify-content: center;
}