<div class='add-component-wrapper'>
    <div class='contact-form-wrapper'>
        <h6 class='heading'><span *ngIf='feature=="Add"'>{{content.HEADING_ADD_CONTACT}}</span><span
                *ngIf='feature=="Edit"'>{{content.HEADING_EDIT_CONTACT}}</span></h6>
        <br />
        <form class="was-validated" [formGroup]='contactForm' novalidate>
            <div class="form-group">
                <input type="text" class="form-control" id="firstName"
                    placeholder="{{content.INPUT_FIRST_NAME_PLACEHOLDER}}" name="firstName" formControlName='firstName'>
                <div *ngIf="contactForm.controls['firstName'].touched && contactForm.controls['firstName'].errors?.required"
                    class='error-text'>{{content.INPUT_FIRST_NAME_ERROR_REQUIRED}}</div>
                <div *ngIf="contactForm.controls['firstName'].touched && contactForm.controls['firstName'].errors?.pattern"
                    class='error-text'>{{content.INPUT_FIRST_NAME_ERROR_VALID}}</div>
                <div *ngIf="contactForm.controls['firstName'].touched && contactForm.controls['firstName'].errors?.maxlength"
                    class='error-text'>{{content.INPUT_FIRST_NAME_ERROR_MAX_LIMIT}}</div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="lastName"
                    placeholder="{{content.INPUT_LAST_NAME_PLACEHOLDER}}" name="lastName" formControlName='lastName'>
                <div *ngIf="contactForm.controls['lastName'].touched && contactForm.controls['lastName'].errors?.required"
                    class='error-text'>{{content.INPUT_LAST_NAME_ERROR_REQUIRED}}</div>
                <div *ngIf="contactForm.controls['lastName'].touched && contactForm.controls['lastName'].errors?.pattern"
                    class='error-text'>{{content.INPUT_LAST_NAME_ERROR_INVALID}}</div>
                <div *ngIf="contactForm.controls['lastName'].touched && contactForm.controls['lastName'].errors?.maxlength"
                    class='error-text'>{{content.INPUT_LAST_NAME_ERROR_MAX_LIMIT}}</div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="email" placeholder="{{content.INPUT_EMAIL_PLACEHOLDER}}"
                    name="email" formControlName='email'>
                <div *ngIf="contactForm.controls['email'].touched && contactForm.controls['email'].errors?.required"
                    class='error-text'>{{content.INPUT_EMAIL_ERROR_REQUIRED}}</div>
                <div *ngIf="contactForm.controls['email'].touched && contactForm.controls['email'].errors?.pattern"
                    class='error-text'>{{content.INPUT_EMAIL_ERROR_VALID}}</div>
            </div>
            <div class="form-group">
                <input type="phone" class="form-control" id="phone" placeholder="{{content.INPUT_PHONE_PLACEHOLDER}}"
                    name="phone" formControlName='phone'>
                <div *ngIf="contactForm.controls['phone'].touched && contactForm.controls['phone'].errors?.required"
                    class='error-text'>{{content.INPUT_PHONE_ERROR_REQUIRED}}</div>
                <div *ngIf="contactForm.controls['phone'].touched && contactForm.controls['phone'].errors?.pattern"
                    class='error-text'>{{content.INPUT_PHONE_ERROR_VALID}}</div>
                <div *ngIf="contactForm.controls['phone'].touched && (contactForm.controls['phone'].errors?.maxlength || contactForm.controls['phone'].errors?.minlength)"
                    class='error-text'>{{content.INPUT_PHONE_ERROR_MIN_MAX}}</div>
            </div>
            <hr />
            <div class='row' class='buttons'>
                <button *ngIf='feature=="Add"' [disabled]='!contactForm.valid' class="btn btn-primary" (click)='addContact()'>{{content.BUTTON_ADD_TEXT}}</button>
                <button *ngIf='feature=="Edit"' [disabled]='!contactForm.valid' class="btn btn-primary" (click)='addContact()'>{{content.BUTTON_EDIT_TEXT}}</button>

                
                <button class="btn btn-danger cancel-button" (click)='back()'>{{content.BUTTON_CANCEL_TEXT}}</button>
            </div>
        </form>
    </div>
</div>

